.header_backup {
  height: 70px;
  border-bottom: solid #333 thin;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1%;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #111111;
  color: gray;
  z-index: 10;
}
.header_backup a {
  text-decoration: none;
  color: inherit;
}
.header_backup .title {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.header_backup .title .main-title {
  font-size: 22px;
  font-weight: bolder;
}

.backup {
  padding: 70px 5px 10px;
}

.backup-empty {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: gray;
}
